body{
  padding: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
  background-color:#007457;
} 
#container{
  position: fixed;
  top: 50%;
  left:50%;
  transform: translateY(-50%) translateX(-50%);;
  margin: 0;
  width:370px;
  height:260px;
  margin: 0 auto;
  border-radius:5px;
}

#color-button{
  width: 350px;
  height: 100px;
  cursor:pointer;
  color: #fff;
	box-shadow: 0 0 0 1px #9a00cd inset, 0 0 0 0px rgba(255, 255, 255, 0.15) inset, 0 0 0 0 #9823d5, 0 0px 8px 3px rgba(0, 0, 0, 0.5);
  background-color: #bb39d7;
  position: relative;
  border: 0;
  text-align:center;
  font-size:1.25rem;
  outline:none;
  /*box-shadow: 5px 5px 10px rgba(0,0,0,0.5);*/
}

#color-button-figure
{
  transition: all 40ms linear;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 2px;
  margin-right: 2px;
  outline:none;
  text-align:center;
  animation: swing ease-in-out 1s infinite alternate;
  transform-origin: center -20px;
  float:left;
}

#color-button-figure:after{
  content: '';
  position: absolute;  
  width: 20px; height: 20px;  
  border: 1px solid #999;
  top: -10px; left: 50%;
  z-index: 0;
  border-bottom: none;
  border-right: none;
  transform: rotate(45deg);
}

#color-button-figure:before{
  content: '';
  position: absolute;
  width: 5px; height: 5px;
  top: -15px;left: 182px;
  z-index: 5;
  border-radius: 50% 50%;
  background: #000;
}

@keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}

#next-button{
  position:absolute;
  display:flex;
  justify-content:center;
  align-items:center;
  margin-top:150px;
  padding:0;
  width:350px;
  height:100px;
  font-size:1.25rem;
}
/*
#disco{
  width: 350px;
  height: 100px;
  border: none;
  font-size: 24px;
  background-color: #141c3a;
  color: white;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  cursor: pointer;
  outline:none;
}
*/

.btn3d {
  position: relative;
  top: -6px;
  border: 0;
  transition: all 40ms linear;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 2px;
  margin-right: 2px;
}

.btn3d:active:focus,
.btn3d:focus:hover,
.btn3d:focus {
  -moz-outline-style: none;
  outline-style:none;
  outline: medium none;
}

.btn3d:active,
.btn3d.active {
  top: 2px;
}

.btn3d.btn-magick {
	color: #fff;
	box-shadow: 0 0 0 1px #9a00cd inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #9823d5, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
	background-color: #bb39d7;
}

.btn3d.btn-magick:active,
.btn3d.btn-magick.active {
	box-shadow: 0 0 0 1px #9a00cd inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
	background-color: #bb39d7;
}